.project__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.project__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.project__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.project__container > div h2 {
    color: var(--color-primary);
    margin-bottom: 1rem;
}

/*=====================MEDIA QUERIES (MEDIUM DEVICES)=========================*/


@media screen and (max-width: 1024px) {
    .project__container {
        grid-template-columns: 1fr;
    }

    .project__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .project_content {
        padding: 1rem;
    }
}

/* ================MEDIA QUERIES (SMALL DEVICES)======================*/

@media screen and (max-width: 600px) {
    .project__container {
        gap: 1rem;
    }

    .project__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}